Assignment 1/2023435_a1 1.ipynb
Assignment 2/2023435_a2_old.ipynb
Assignment 2/changerollno_a2.ipynb
Assignment 3/2023563_a3.ipynb
Assignment 3/changerollno_a3.ipynb
Assignment 3/MLA3_DATA.zip
Assignment 3/MLA3_DATA/TEST/hidden_test_sample.csv
Assignment 3/MLA3_DATA/TEST/reconstructed_hidden_candidates.csv
Assignment 3/MLA3_DATA/TEST/student_test.csv
Assignment 3/MLA3_DATA/TRAIN/train.csv
